.coins-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    gap: 10px;

}

.coins {
    background-color: #4a90e2;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
    margin-left: 2%
}

.coins img {
    width: 20px;
    height: 24px;
    margin-right: 5px;
}

.coins span {
    font-size: 18px;
    font-weight: bold;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 50px;
    height: 42px;
    margin: 10px 0;
    width: 100%;
}

.progress {
    background-color: #4a90e2;
    height: 100%;
    border-radius: 50px;
    width: 0;
}