html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.home-container {
    background-image: url('../assets/fon.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.character-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30%;
}

.Bars {
    margin-bottom: 45%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease;
}

.Bars.pressed {
    transform: translateY(5px);
}

.icons {
    position: fixed;
    margin-top: 167%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
    margin-left: 1%;
}

@media (min-width: 800px) {
*{
    height: fit-content;
    width: auto
}

        .Bars {
            height: auto;
            /* или другое подходящее значение */
        }

        .icons {
            position: static;
            margin-left: 50%;
            max-width: fit-content;
            margin-top: 0;
            /* Уменьшите значение, чтобы иконки не исчезали */
        }
    }
