* {
    color: black;
    ;
}

header {
    width: 100%;
    /* Занимает всю ширину */
    display: flex;
    /* Выравнивание по центру */
    align-items: start;
    /* Выравнивание по вертикали */
}

.image-container {
    display: flex;
    flex-direction: row;
    /* Изображения выстраиваются в одну строку */
    gap: 10px;
    /* Отступ между изображениями */
    justify-content: center;
}

.container {
    font-family: 'SF Pro Text', sans-serif;
}

img {
    width: 25%;
    /* Изображения будут занимать 25% ширины контейнера */
    height: auto;
    /* Высота автоматически подстраивается */
}

.text-h {
    align-items: start;
}

/* Адаптация для меньших экранов */
@media (max-width: 768px) {
    img {
        width: 50%;
        /* На экранах с шириной до 768px картинки занимают 50% ширины */
    }
}

@media (max-width: 480px) {
    img {
        width: 100%;
        /* На экранах с шириной до 480px картинки занимают 100% ширины */
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    font-family: 'SF Pro Display';

}

h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.vkpo-div h2 {
    text-align: center;
}

.vkpo {
    text-align: center;
}

.moneyimg {
    width: 30%;
    height: auto;
}

.money150 {

    display: flex;
    justify-content: center;
    /* Горизонтальное центрирование */
    align-items: center;
    /* Вертикальное центрирование */
}

/* Контейнер для кнопок */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-p p {
    text-align: left;
}

/* Общий стиль для кнопок */
button {
    padding: 12px 20px;
    /* Отступы внутри кнопок */
    font-size: 14px;
    /* Размер шрифта */
    font-weight: 600;
    /* Жирный шрифт */
    border: none;
    /* Убираем обводку */
    border-radius: 15px;
    /* Скругленные углы */
    cursor: pointer;
    /* Указатель мыши */
    transition: all 0.3s ease;
    /* Плавный переход для эффектов */
    color: white;
    /* Белый цвет текста */
    width: 175.5px;
    height: 44px;
    margin-top: 30px;
}

/* Стиль для первой кнопки */
.subscribe-button {
    background: rgba(45, 129, 224, 1);
    /* Синий фон */
}

/* Стиль для второй кнопки */
.reward-button {
    margin-left: 10px;
    background: rgba(227, 89, 219, 1);
    /* Розовый фон */
}

/* Эффект при наведении на кнопки */
button:hover {
    transform: scale(1.05);
    /* Немного увеличивает кнопку */
}