html, body {
    height: 100vh;
    /* Устанавливаем высоту экрана */
    margin: 0;
    /* Убираем внешние отступы */
    overflow: hidden;
    /* Отключаем прокрутку */
}

.container {
    background-image: url('../assets/fon.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

.Bars {
    margin-bottom: 45%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease;
    /* Плавная анимация для сдвига */
}

.Bars.pressed {
    transform: translateY(5px);
    /* Опускаем картинку на 5 пикселей */
}

.counter {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.coins {
    background-color: #4a90e2;
    /* Синий цвет овала */
    border-radius: 50px;
    /* Делаем углы закруглёнными для овальной формы */
    padding: 10px 20px;
    /* Внутренние отступы, чтобы элементы не были вплотную к краям */
    display: flex;
    /* Flexbox для выравнивания */
    align-items: center;
    /* Вертикальное выравнивание по центру */
    justify-content: center;
    /* Горизонтальное выравнивание */
    color: white;
    width: fit-content;
    margin-left: 10%
        /* Цвет текста */
}

.coins img {
    width: 24px;
    /* Размер изображения монет */
    height: 24px;
    margin-right: 10px;
    /* Отступ между картинкой и текстом */
}

.coins span {
    font-size: 18px;
    /* Размер шрифта для цифры */
    font-weight: bold;
    /* Жирный шрифт для цифры */
}

.icons {
        position: fixed;
        margin-top: 167%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 20px;
 
}

.icon {
    background-color: white;
    /* Синий цвет овала */
    border-radius: 50px;
    /* Делаем углы закруглёнными для овальной формы */
    padding: 10px 20px;
    /* Внутренние отступы, чтобы элементы не были вплотную к краям */
    /* Flexbox для выравнивания */
    align-items: center;
    /* Вертикальное выравнивание по центру */
    justify-content: center;
    /* Горизонтальное выравнивание */
    color: white;
    width: fit-content;
    margin-left: 1%
        /* Цвет текста */
}